<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="mt-5">The Big Picture</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
          voluptates rerum eveniet sapiente repellat esse, doloremque quod
          recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt
          porro quisquam voluptatem.
        </p>
      </div>
    </div>
  </div>
</section> -->
<!-- <p>
  Ronald Barrios, born in Caracas (Venezuela) is a percussionist who from an
  early age became interested in music. He began his percussion studies with
  Luis Cordero. He later continued with Mr. Alejandro Tesorero while enriching
  his musical knowledge with other well-known percussionists such as Frank
  Seijas and Esteban Rivas among others. In 1994 he began to play with the band
  Skemas, Junior band and Caribay before making his leap into the professional
  world in 1996, with Federico Junior's Caribbean Magic Orchestra, where he
  toured all over the country. Also accompanying international artists of the
  stature of Lalo Rodríguez, Willi González, Cano Estremera, Roberto Lugo,
  Manolo Lezcano, among others. In 2000 he moved to Valencia, Spain where he
  worked with Ignovacion 21 Orchestra, Chan Junior (Cuban salsa) and the Sabor
  Latino Orchestra, which he played with for several years, participating in the
  Festival de las naciones (Festival of the Nations). He partook in the
  Festival's first recording. In 2003 he moved to Paris (France) where he
  deepened his knowledge with Orlando Poleo (recognized Venezuelan percussionist
  nationally and internationally). He works with "Sedajazz Latin Ensamble" by
  Francisco Blanco and "Latino", a renowned Latin band from Latin Jazz, with
  great musical trajectory. He also performs several times with the percussion
  band of the Superior Conservatory of Valencia by Professor Manel Ramada. In
  2006 he participated in the seminar of Latin music at the Palau de la Música
  in Valencia by Miguel "ANGA" Díaz. In 2012 he moved to Madrid where he was
  involved in projects as a session percussionist, and continued working with
  local groups in the genres of pop, jazz, flamenco and salsa fusion. During
  this time, he had the opportunity to perform with the group Son Cremita (with
  Gustavo Moreira with the 'Orquesta Adolescentes' and 'Orchestra Salsabroso',
  with whom he toured Europe. Currently Ronald lives in London and continues to
  be involved in projects as a session percussionist as well as with a number of
  Latin groups in London and the south-east.
</p> -->

<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Starter template lacodeid</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Jumbotron heading</h1>
    <p class="lead">
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce
      dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
      fermentum massa justo sit amet risus.
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus
        mollis interdum.
      </p>

      <h4>Subheading</h4>
      <p>
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
        mattis consectetur purus sit amet fermentum.
      </p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus
        mollis interdum.
      </p>

      <h4>Subheading</h4>
      <p>
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
        mattis consectetur purus sit amet fermentum.
      </p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
</div>
