<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Starter template lacodeid</h3>
  </div>

  <div class="jumbotron">
    <h1>About</h1>
    <p>
      Ronald Barrios, born in Caracas (Venezuela) is a percussionist who from an
      early age became interested in music. He began his percussion studies with
      Luis Cordero. He later continued with Mr. Alejandro Tesorero while
      enriching his musical knowledge with other well-known percussionists such
      as Frank Seijas and Esteban Rivas among others. In 1994 he began to play
      with the band Skemas, Junior band and Caribay before making his leap into
      the professional world in 1996, with Federico Junior's Caribbean Magic
      Orchestra, where he toured all over the country. Also accompanying
      international artists of the stature of Lalo Rodríguez, Willi González,
      Cano Estremera, Roberto Lugo, Manolo Lezcano, among others.
    </p>

    <p>
      In 2000 he moved to Valencia, Spain where he worked with the Sabor Latino
      Orchestra, Ignovacion 21 Orchestra, Chan Junior (Cuban salsa) and the
      Sabor Orchestra for several years, participating in the Festival de las
      naciones (Festival of the Nations). He partook in the Festival's first
      recording of the production titled "Volver".
    </p>

    <p>
      In 2003 he moved to Paris (France) where he deepened his knowledge with
      Orlando Poleo (recognized Venezuelan percussionist nationally and
      internationally). He works with "Sedajazz Latin Ensamble" by Francisco
      Blanco and "Latino", a renowned Latin band from Latin Jazz, with great
      musical trajectory. He also performs several times with the percussion
      band of the Superior Conservatory of Valencia by Professor Manel Ramada.
    </p>

    <p>
      In 2006 he participated in the seminar of Latin music at the Palau de la
      Música in Valencia by Miguel "ANGA" Díaz.
    </p>

    <p>
      In 2012 he moved to Madrid where he was involved in projects as a session
      percussionist, and continued working with local groups in the genres of
      pop, jazz, flamenco and salsa fusion. During this time, he had the
      opportunity to perform with the group Son Cremita (with Gustavo Moreira
      with the 'Orquesta Adolescentes' and 'Orchestra Salsabroso', with whom he
      toured Europe.
    </p>
    <p>
      Currently Ronald lives in London and continues to be involved in projects
      as a session percussionist as well as with a number of Latin groups in
      London and the south-east.
    </p>
  </div>
</div>
<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h6>
        Coded with <i class="fa fa-heart red"></i> by
        <a href="http://www.rixiobarrios.com" target="_blank">Rixio Barrios</a>
      </h6>
    </div>
  </div>
</footer>
