<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Starter template lacodeid</h3>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1>Contact</h1>
      <br />
      <div class="row-center">
        <h3>Phone:</h3>
        <p>+44 20 7123 1234</p>
        <br />
        <h3>Location:</h3>
        <p>London, UK</p>
        <br />
        <h3>E-mail:</h3>
        <p>ronaldbarrios.uk@gmail.com</p>
        <br />
        <h3>Web:</h3>
        <p>www.ronaldbarrios.com</p>
        <br />
      </div>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/rndpercusion/"
        ><img
          src="http://convertkit.com/images/social-icons/facebook.png"
          alt="Facebook"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>

      <a href="https://twitter.com/"
        ><img
          src="http://convertkit.com/images/social-icons/twitter.png"
          alt="Twitter"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>

      <a href="https://www.instagram.com/ronaldbarriosneri/"
        ><img
          src="http://convertkit.com/images/social-icons/instagram.png"
          alt="Instagram"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>

      <a href="https://www.linkedin.com/in/ronald-barrios-neri-745898116/"
        ><img
          src="http://convertkit.com/images/social-icons/linkedin.png"
          alt="Pinterest"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>

      <a href="https://www.youtube.com/channel/UCbUcLKR35TryAX13SW7MNzw"
        ><img
          src="http://convertkit.com/images/social-icons/youtube_alt.png"
          alt="YouTube"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>

      <a href="http://www.ronaldbarrios.com"
        ><img
          src="http://convertkit.com/images/social-icons/website.png"
          alt="Website"
          width="48"
          style="text-decoration: none; width: 48px;"
      /></a>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h6>
        Coded with <i class="fa fa-heart red"></i> by
        <a href="http://www.rixiobarrios.com" target="_blank">Rixio Barrios</a>
      </h6>
    </div>
  </div>
</footer>
