<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <h1>Contact Address</h1>
  <br />
  <div class="row text-center">
    <div class="col-sm-3 col-xs-6 first-box">
      <h1><span class="glyphicon glyphicon-earphone"></span></h1>
      <h3>Phone</h3>
      <p>+880-1700-987654</p>
      <br />
    </div>
    <div class="col-sm-3 col-xs-6 second-box">
      <h1><span class="glyphicon glyphicon-home"></span></h1>
      <h3>Location</h3>
      <p>1036 Gulshan Road</p>
      <br />
    </div>
    <div class="col-sm-3 col-xs-6 third-box">
      <h1><span class="glyphicon glyphicon-send"></span></h1>
      <h3>E-mail</h3>
      <p>info@yourdomain.com</p>
      <br />
    </div>
    <div class="col-sm-3 col-xs-6 fourth-box">
      <h1><span class="glyphicon glyphicon-leaf"></span></h1>
      <h3>Web</h3>
      <p>www.yourdomain.com</p>
      <br />
    </div>
  </div>
</div>
<div class="social-links">
  <a href="https://www.facebook.com/rndpercusion/"
    ><img
      src="http://convertkit.com/images/social-icons/facebook.png"
      alt="Facebook"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>

  <a href="https://twitter.com/"
    ><img
      src="http://convertkit.com/images/social-icons/twitter.png"
      alt="Twitter"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>

  <a href="https://www.instagram.com/ronaldbarriosneri/"
    ><img
      src="http://convertkit.com/images/social-icons/instagram.png"
      alt="Instagram"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>

  <a href="https://www.linkedin.com/in/ronald-barrios-neri-745898116/"
    ><img
      src="http://convertkit.com/images/social-icons/linkedin.png"
      alt="Pinterest"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>

  <a href="https://www.youtube.com/channel/UCbUcLKR35TryAX13SW7MNzw"
    ><img
      src="http://convertkit.com/images/social-icons/youtube_alt.png"
      alt="YouTube"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>

  <a href="http://www.ronaldbarrios.com"
    ><img
      src="http://convertkit.com/images/social-icons/website.png"
      alt="Website"
      width="48"
      style="text-decoration: none; width: 48px;"
  /></a>
</div>
