.bg-dark {
  background-color: black !important;
}

.navbar {
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* position: fixed;
  right: 0;
  opacity: 0.5;
  top: 50%;
  width: 8em;
  margin-top: -2.5em; */

/* overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;  */

#sponsor-logo {
  border: 1px solid white;
  z-index: 2;
}

#navbar-collapse img {
  border: 1px solid white;
}
